################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/wasty.main/v17/.wsuo
/.vs/wasty.main/v17/DocumentLayout.backup.json
/.vs/wasty.main/v17/DocumentLayout.json
/.vs/wasty.main/v17/workspaceFileList.bin
*.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/wasty/.vs/ProjectEvaluation/wasty.metadata.v9.bin
/wasty/.vs/ProjectEvaluation/wasty.projects.v9.bin
/wasty/.vs/ProjectEvaluation/wasty.strings.v9.bin
/wasty/.vs/wasty/copilot-chat/d0800b42/sessions/7e6a081b-cf3a-4405-827b-2fdfb35ebb44
/wasty/.vs/wasty/CopilotIndices/17.13.430.18484/CodeChunks.db
/wasty/.vs/wasty/CopilotIndices/17.13.430.18484/CodeChunks.db-shm
/wasty/.vs/wasty/CopilotIndices/17.13.430.18484/CodeChunks.db-wal
/wasty/.vs/wasty/CopilotIndices/17.13.430.18484/SemanticSymbols.db
/wasty/.vs/wasty/CopilotIndices/17.13.430.18484/SemanticSymbols.db-shm
/wasty/.vs/wasty/CopilotIndices/17.13.430.18484/SemanticSymbols.db-wal
/wasty/.vs/wasty/DesignTimeBuild/.dtbcache.v2
/wasty/.vs/wasty/FileContentIndex/3d012f11-9542-49b3-910e-97d4d9f584d9.vsidx
/wasty/.vs/wasty/FileContentIndex/6693b7e4-5859-4130-acbf-8b1867941480.vsidx
/wasty/.vs/wasty/FileContentIndex/9b2497be-b888-43d8-a6f8-495e6135d669.vsidx
/wasty/.vs/wasty/v17/.suo
/wasty/.vs/wasty/v17/DocumentLayout.backup.json
/wasty/.vs/wasty/v17/DocumentLayout.json
/wasty/bin/Debug/net9.0-windows/wasty.dll
/wasty/bin/Debug/net9.0-windows/wasty.exe
/wasty/bin/Debug/net9.0-windows/wasty.pdb
/wasty/obj/Debug/net9.0-windows/App.baml
/wasty/obj/Debug/net9.0-windows/App.g.cs
/wasty/obj/Debug/net9.0-windows/App.g.i.cs
/wasty/obj/Debug/net9.0-windows/apphost.exe
/wasty/obj/Debug/net9.0-windows/MainWindow.g.cs
/wasty/obj/Debug/net9.0-windows/MainWindow.g.i.cs
/wasty/obj/Debug/net9.0-windows/ref/wasty.dll
/wasty/obj/Debug/net9.0-windows/refint/wasty.dll
/wasty/obj/Debug/net9.0-windows/Styles.baml
/wasty/obj/Debug/net9.0-windows/wasty.AssemblyInfo.cs
/wasty/obj/Debug/net9.0-windows/wasty.AssemblyInfoInputs.cache
/wasty/obj/Debug/net9.0-windows/wasty.assets.cache
/wasty/obj/Debug/net9.0-windows/wasty.csproj.AssemblyReference.cache
/wasty/obj/Debug/net9.0-windows/wasty.csproj.CoreCompileInputs.cache
/wasty/obj/Debug/net9.0-windows/wasty.csproj.FileListAbsolute.txt
/wasty/obj/Debug/net9.0-windows/wasty.designer.runtimeconfig.json
/wasty/obj/Debug/net9.0-windows/wasty.dll
/wasty/obj/Debug/net9.0-windows/wasty.g.resources
/wasty/obj/Debug/net9.0-windows/wasty.GeneratedMSBuildEditorConfig.editorconfig
/wasty/obj/Debug/net9.0-windows/wasty.genruntimeconfig.cache
/wasty/obj/Debug/net9.0-windows/wasty.pdb
/wasty/obj/Debug/net9.0-windows/wasty.sourcelink.json
/wasty/obj/Debug/net9.0-windows/wasty_gclx0wpu_wpftmp.AssemblyInfo.cs
/wasty/obj/Debug/net9.0-windows/wasty_gclx0wpu_wpftmp.AssemblyInfoInputs.cache
/wasty/obj/Debug/net9.0-windows/wasty_gclx0wpu_wpftmp.assets.cache
/wasty/obj/Debug/net9.0-windows/wasty_gclx0wpu_wpftmp.csproj.AssemblyReference.cache
/wasty/obj/Debug/net9.0-windows/wasty_gclx0wpu_wpftmp.csproj.BuildWithSkipAnalyzers
/wasty/obj/Debug/net9.0-windows/wasty_gclx0wpu_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/wasty/obj/Debug/net9.0-windows/wasty_gclx0wpu_wpftmp.GlobalUsings.g.cs
/wasty/obj/Debug/net9.0-windows/wasty_gclx0wpu_wpftmp.sourcelink.json
/wasty/obj/Debug/net9.0-windows/wasty_MarkupCompile.cache
/wasty/obj/Debug/net9.0-windows/wasty_MarkupCompile.i.cache
/wasty/obj/Debug/net9.0-windows/wasty_MarkupCompile.lref
/wasty/obj/Release/net9.0-windows/Views/LoginView.baml
/wasty/obj/Release/net9.0-windows/Views/LoginView.g.cs
/wasty/obj/Release/net9.0-windows/Views/MainView.baml
/wasty/obj/Release/net9.0-windows/Views/MainView.g.cs
/wasty/obj/Release/net9.0-windows/Views/SignupView.baml
/wasty/obj/Release/net9.0-windows/Views/SignupView.g.cs
/wasty/obj/Release/net9.0-windows/App.g.cs
/wasty/obj/Release/net9.0-windows/MainWindow.baml
/wasty/obj/Release/net9.0-windows/MainWindow.g.cs
/wasty/obj/Release/net9.0-windows/wasty.AssemblyInfo.cs
/wasty/obj/Release/net9.0-windows/wasty.AssemblyInfoInputs.cache
/wasty/obj/Release/net9.0-windows/wasty.assets.cache
/wasty/obj/Release/net9.0-windows/wasty.csproj.AssemblyReference.cache
/wasty/obj/Release/net9.0-windows/wasty.GeneratedMSBuildEditorConfig.editorconfig
/wasty/obj/Release/net9.0-windows/wasty_MarkupCompile.cache
/wasty/obj/Release/net9.0-windows/wasty_MarkupCompile.lref
*.sqlite-journal
/wasty/obj/project.assets.json
/wasty/obj/project.nuget.cache
/wasty/obj/wasty.csproj.nuget.dgspec.json
/wasty/obj/wasty.csproj.nuget.g.props
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.Configuration.Abstractions.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.Configuration.Binder.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.Configuration.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.DependencyInjection.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.Diagnostics.Abstractions.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.Diagnostics.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.Http.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.Logging.Abstractions.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.Logging.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.Options.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Extensions.Primitives.dll
/wasty/bin/Debug/net9.0-windows/Microsoft.Xaml.Behaviors.dll
/wasty/bin/Debug/net9.0-windows/wasty.deps.json
/wasty/obj/Debug/net9.0-windows/Views
/wasty/obj/Debug/net9.0-windows/GeneratedInternalTypeHelper.g.cs
/wasty/obj/Debug/net9.0-windows/GeneratedInternalTypeHelper.g.i.cs
/wasty/obj/Debug/net9.0-windows/MainWindow.baml
/wasty/obj/Debug/net9.0-windows/wasty_0r5rspwb_wpftmp.AssemblyInfo.cs
/wasty/obj/Debug/net9.0-windows/wasty_0r5rspwb_wpftmp.AssemblyInfoInputs.cache
/wasty/obj/Debug/net9.0-windows/wasty_0r5rspwb_wpftmp.assets.cache
/wasty/obj/Debug/net9.0-windows/wasty_0r5rspwb_wpftmp.csproj.BuildWithSkipAnalyzers
/wasty/obj/Debug/net9.0-windows/wasty_0r5rspwb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/wasty/obj/Debug/net9.0-windows/wasty_0r5rspwb_wpftmp.GlobalUsings.g.cs
/wasty/obj/Debug/net9.0-windows/wasty_0r5rspwb_wpftmp.sourcelink.json
/wasty/obj/wasty.csproj.nuget.g.targets
